* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: black;
}

#carousel {
  position: relative;
  margin: 20px auto;
  height: 250px;
  width: 375px;
  background-image: url(/image/a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#back {
  position: absolute;
  top: 100px;
  left: 0;
}

#forward {
  position: absolute;
  top: 100px;
  right: 0;
}

#back:hover,
#forward:hover {
  transform: scale(0.9);
}

#back,
#forward {
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-weight: bold;
  background: transparent;
  color: white;
  border: 0;
  transition: all ease 1s;
}

#back > i,
#forward > i {
  pointer-events: none;
}

#a,
#b,
#c,
#d,
#e {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#a {
  background: white;
}
#b,
#c,
#d,
#e {
  background: gray;
}
.circles {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 30%;
  align-items: center;
  transition: all ease 1s;
}

@media screen and (min-width: 600px) {
  #carousel {
    height: 48vmax;
    width: 100vmax;
    max-width: 90%;
  }
  .circles {
    max-width: 300px;
    height: 15%;
  }
  #back,
  #forward {
    top: 48%;
  }
  #back:hover,
  #forward:hover {
    transform: scale(0.9);
  }
}
