* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: black;
}

#carousel {
  position: relative;
  margin: 20px auto;
  height: 250px;
  width: 375px;
  background: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#back {
  position: absolute;
  top: 100px;
  left: 0;
}

#forward {
  position: absolute;
  top: 100px;
  right: 0;
}

#back:hover,
#forward:hover {
  color: white;
  border: 2px solid white;
}

#back,
#forward {
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-weight: bold;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  cursor: pointer;
}

#back > i,
#forward > i {
  pointer-events: none;
}
.pictures-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pictures {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.picture {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.circles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 15%;
  transition: all ease 0.3s;
}

.circle {
  list-style: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: grey;
}

.circle:hover {
  transform: scale(1.3);
  border: 2px solid white;
}

.circle:first-child {
  background-color: white;
}

#title {
  color: rgb(192, 189, 189);
  font-family: sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2.5px 2px #ffffff8e;
}

@media screen and (min-width: 600px) {
  #carousel {
    height: 48vmax;
    width: 100vmax;
    max-width: 90%;
  }
  .circles {
    max-width: 300px;
    height: 10%;
    cursor: pointer;
    align-items: center;
    bottom: 15px;
  }

  #back,
  #forward {
    top: 48%;
    color: rgba(255, 255, 255, 0.5);
  }
}
